@charset "UTF-8";
/* CSS Document */

body {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", HelveticaNeue, YuGothic, "Yu Gothic Medium", "Yu Gothic", Verdana, Meiryo, sans-serif;
  font-feature-settings: 'palt' 1;
  letter-spacing: 0.05em;
  color: #333333;
  background-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (min-width: 320px) {
  /* タブレット用レイアウト 320px以上の範囲に収めるデザインはこの中に記述 */

 /* ==================== ヘッダー ================== */
  .header {
    top: 20px;
    left: 23px;
    position: fixed;
    z-index: 1;
  }

  .logo img{
    width: 120px;
    filter: drop-shadow(2px 2px 2px rgba(112, 112, 112, 0.6));
  }

 /* ==================== スライダー ================== */

  /* リロード時スライダー他画像非表示 */
  .slider {
    visibility: hidden;

    position: relative;
    width: 100%;
    height: 100vh;
  }
  .slider.slick-initialized {
    visibility: visible;
  }

  .slider-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 画像がスライダーに合わせてリサイズ */
  }

  .slider img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    filter: brightness(90%);
  }

  .slider-item{
    max-width: 100vw;
    overflow: hidden;
    position: relative;

    width: 100%;
    height: 100%;
    text-align: center;
  }

  .slider-img-01 img {
    transform: scale(1.1);
    object-position: 60% 100%;
  }

  .slider-img-02 img{
    object-position: 16% 70%;
  }

  .slider-img-03 img {
    transform: scale(1.1);
    object-position: 31% 100%;
  }

  /* Dots */
  .slick-dots li button:before {
    top: 10px;
  }

 /* ==================== concept-section ================== */
  /* アニメーション */
  /* パターン１ */
  /*ふわっと下から表示*/
  /* .con-items.offs .effect {
    opacity: 0;
    transform: translate(0, 100px);
    -webkit-transform: translate(0, 100px);
  }
  .con-items.ons .effect {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
  } */

  /* パターン２ */
    /*ふわっとその場で表示*/
    /* .con-items.offs .effect {
      opacity: 0;
    }
    .con-items.ons .effect {
      opacity: 1;
      -webkit-transition: all 1.5s ease;
      transition: all 1.5s ease;
    }
    /*以下、遅延の設定*/
    /* .con-items.ons .delay-1 {
      -webkit-transition-delay: 0s;
      transition-delay: 0s;
    }
    .con-items.ons .delay-2 {
      -webkit-transition-delay: 0.5s;
      transition-delay: 0.5s;
    }  */

    /* パターン３ */
    /* ふわっと左から表示 */
  .con-left.offs .effect {
    opacity: 0;
    transform: translate(-100px, 0);
    -webkit-transform: translate(-100px, 0);
  }
  .con-left.ons .effect {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
  }
  /* ふわっと右から表示 */
  .con-right.offs .effect {
    opacity: 0;
    transform: translate(100px, 0);
    -webkit-transform: translate(100px, 0);
  }
  .con-right.ons .effect {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
  }



 .concept-section {
    text-align: center;
    gap: 30px;
    font-family: 'Noto Serif JP';
    font-weight: bolder;
  }

  .con-text {
    margin: 130px 0 105px;
  }

  h1 {
    font-size: 28px;
    font-weight: bold;
    line-height: 2em;
    letter-spacing: 0.1em;
  }

  .concept-section p {
    font-size: 16px;
    font-weight: bold;
    line-height: 2.5em;
    letter-spacing: 0.1em;
  }

  .sec-title {
    margin: 16px 0 20px;
    color: #cccccc;
    font-family: 'Noto Sans JP';
  }

  .con-img {
    max-width: 92vw;
    height: auto;
    aspect-ratio: 17 / 10;
    margin-left: auto;
    overflow: hidden;
  }

  .con-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.2);
    object-position: 50% 35%;
  }

 /* ==================== main-section ================== */
  /* アニメーション */
  /*ふわっと左から表示*/
  .img-left.offs .effect {
    opacity: 0;
    transform: translate(-100px, 0);
    -webkit-transform: translate(-100px, 0);
  }
  .img-left.ons .effect {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
  }

  /*ふわっと右から表示*/
  .img-right.offs .effect {
    opacity: 0;
    transform: translate(100px, 0);
    -webkit-transform: translate(100px, 0);
  }
  .img-right.ons .effect {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
  }

  /*ふわっとその場で表示*/
  .text-items.offs .effect {
    opacity: 0;
  }
  .text-items.ons .effect {
    opacity: 1;
    -webkit-transition: all 1.5s ease;
    transition: all 1.5s ease;
  }
  /*以下、遅延の設定*/
  .text-items.ons .delay-1 {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }

 .main-section {
    margin-top: 105px;
  }

  .main-tall-img {
    max-width: 80vw;
    max-height: 550px;
    aspect-ratio: 5 / 7;
  }

  .main-tall-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 15px 15px 0;
  }

  .tall-img-future {
    overflow: hidden;
    border-radius: 0 15px 15px 0;
  }

  .tall-img-future img {
    transform: scale(1.2);
    object-position: 50% 90%;
  }

  .main-wide-img {
    overflow: hidden;
    max-width: 93vw;
    margin-left: auto;
    aspect-ratio: 7 / 5;
    border-radius: 15px 0 0 15px;
  }

  .main-wide-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.2);
    object-position: 3% 0%;
  }

  .main-text {
    margin: 0 75px 105px 50px;
    font-size: 14px;
  }

  .main-section h2 {
    margin: 30px 0 10px;
    font-size: 24px;
    font-family: 'Noto Serif JP';
    font-weight: bold;
    letter-spacing: 0.15em;
    line-height: 1.5em;
  }

  .main-section p {
    font-family: 'Noto Sans JP';
    font-weight: normal;
    line-height: 2em;
    letter-spacing: 0.15em;
  }

  .forest-text-01 {
    margin-bottom: 15px;
  }

  .forest-text-02 {
    font-size: 9px;
  }

 /* ==================== footer ================== */
  .footer{
    text-align: center;
  }

  .footer-logo {
    width: 150px;
    margin: 0px 0 50px 15px;
  }

  .footer-img {
    width: 100vw;
  }

  .footer-img img {
    width: 100%;
    height: 100%;
  }

  .footer h3{
    margin: 30px 0 65px;
    font-family: 'Noto Serif JP';
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.08em;
  }

  .ec-link {
    padding: 15px 45px;
    font-family: 'Noto Serif JP';
    font-size: 17px;
    font-weight: bold;
    border: solid 1px #333333;
    border-radius: 75px;
    letter-spacing: 0.15em;
  }

  .copy {
    margin: 80px 0 40px;
    font-family: 'Noto Sans JP';
    font-size: 11px;
    letter-spacing: 0.1em;
  }

}

@media screen and (min-width: 601px) {
  /* タブレット用レイアウト 601px以上の範囲に収めるデザインはこの中に記述 */

  /*==============================================================
  　　　TB_HOME
  ==============================================================*/
  /* ==================== ヘッダー ================== */
  .header {
    top: 25px;
    left: 45px;
  }

  .logo img{
    width: 150px;
  }

  /* Dots */
  .slick-dots li button:before {
    top: 15px;
  }

   /* ==================== スライダー ================== */
  .slider-img-02 img{
    object-position: 5% 60%;
  }


 /* ==================== concept-section ================== */
  /* スマホのみ改行 */
  .br-sp {
    display: none;
  }

  .con-text {
    margin: 150px 0 150px;
  }

  h1 {
    font-size: 35px;
    letter-spacing: 0.15em;
  }

  .concept-section p {
    font-size: 20px;
    letter-spacing: 0.15em;
  }

  .sec-title {
    margin: 25px 0 35px;
    letter-spacing: 0.15em;
  }

  .con-img {
    max-height: 600px;
  }

 /* ==================== main-section ================== */
  /*ふわっとその場で表示*/
  .text-items.offs .effect {
    opacity: 0;
  }
  .text-items.ons .effect {
    opacity: 1;
    -webkit-transition: all 1.5s ease;
    transition: all 1.5s ease;
  }
  /*以下、遅延の設定*/
  .text-items.ons .delay-1 {
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
  }

 .main-section {
    margin-top: 205px;
  }

  .main-sec-forest {
    display: flex;
    margin-bottom: 135px;
  }

  .main-sec-future {
    display: flex;
    margin-bottom: 210px;
  }

  .main-tall-img {
    max-width: 55vw;
    max-height: 600px;
    aspect-ratio: 5 / 7;
  }

  .main-section h2 {
    margin: 0 0 20px;
    font-size: 28px;
  }

  .main-text {
    margin: 0 0 0 57px;
    max-width: 262px;
    align-content: center;
  }

  .main-sec-people {
    margin-bottom: 125px;
  }

  .main-sec-people h2 {
    margin-top: 35px;
  }

  .main-sec-people .main-text {
    margin-left: 20vw;
    max-width: none;
  }

  .main-wide-img {
    width: 90vw;
    max-height: 400px;
  }

  .main-wide-img img {
    transform: scale(1);
    object-position: 0% 80%;
  }

  .br-tb-non {
    display: none;
  }

 /* ==================== footer ================== */

  .footer-logo {
    width: 160px;
    margin: 0px 0 80px 15px;
  }

  .footer-img img {
    width: 80%;
  }

  .footer h3{
    margin: 60px 0 85px;
    font-size: 22px;
    letter-spacing: 0.1em;
  }

  .ec-link {
    padding: 20px 65px;
    font-size: 18px;
  }

  .copy {
    margin: 100px 0 45px;
    font-size: 11px;
  }

}


@media screen and (min-width: 1001px) {
  /* パソコン用レイアウト 1081px以上の範囲に収めるデザインはこの中に記述 */

  /*==============================================================
  　　　PC_HOME
  ==============================================================*/
  /* ==================== ヘッダー ================== */
  .logo img{
    top: 30px;
    left: 30px;
    /* width: 145px; */
    width: 160px;
  }

 /* ==================== スライダー ================== */
  .slider-img-01 img {
    transform: scale(1);
    object-position: 55% 33%;
  }

  .slider-img-02 img{
    transform: scale(1);
    object-position: 0% 75%;
  }

  .slider-img-03 img {
    transform: scale(1);
    object-position: 33% 30%;
  }

 /* ==================== スクロールダウン線 ================== */

  .scroll {
    bottom: 60px;
  }
  .scroll::after {
    height: 120px;
  }

   /* ==================== concept-section ================== */
   .con-text {
    margin: 250px 0 215px;
  }

  h1 {
    font-size: 40px;
  }

  .concept-section p {
    font-size: 24px;
  }

  .sec-title {
    margin: 35px 0;
  }

  .con-img {
    max-height: 700px;
    width: 90vw;
  }

  .con-img img{
    transform: scale(1);
  }

  /* ==================== main-section ================== */
  .main-section {
    margin-top: 200px;
    justify-items: center;
  }

  .br-tb-non {
    display: block;
  }

  .main-sec-img {
    width: 470px;
    height: 300px;
  }

  .main-sec-img {
    border-radius: 25px;
  }

  .main-sec-img img {
    border-radius: 25px;
  }

  .main-wide-img {
    margin-left: 0;
  }

  .main-wide-img img {
    transform: scale(1.25);
    object-position: 0% 100%;
  }

  .main-sec-people {
    display: flex;
    flex-direction: row-reverse;
  }

  .main-text {
    margin: 0 auto;
    max-width: 470px;
    padding-left: 30px;
  }

  .main-sec-people .main-text{
    margin: 0 auto;
    padding-right: 30px;
    align-content: center;
  }

  .main-item {
    width: 940px;
  }

  .main-section h2 {
    font-size: 30px;
  }

  .main-section p {
    font-size: 16px;
    line-height: 2.3em;
    margin-bottom: 20px;
  }

  .main-section .forest-text-01 {
    margin-bottom: 15px;
  }

  .main-sec-forest, .main-sec-people {
    margin-bottom: 105px;
  }

  .main-text .forest-text-02 {
    font-size: 10px;
  }

  .main-sec-future {
    margin-bottom: 225px;
  }

  .main-sec-forest img {
    object-position: 50% 30%;
  }

  .main-sec-future img {
    transform: scale(1);
    object-position: 50% 70%;
  }

 /* ==================== footer ================== */
  .footer-logo {
    width: 225px;
    margin: 0px 0 80px 15px;
  }

  .footer-img {
    max-height: 550px;
  }

 .footer-img img {
    height: auto;
    max-height: 100%;
    max-width: 950px;
  }

  .footer h3{
    margin: 280px 0 120px;
    font-size: 30px;
  }

  .ec-link {
    padding: 28px 85px;
    font-size: 25px;
  }

  .copy {
    margin: 150px 0 45px;
    font-size: 11px;
  }

}